extends layout
block content
    nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                a.navbar-brand(href='#') School
            ul.nav.navbar-nav
                li
                    a(href='#') Home
                li
                    a(href='#') About
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#') 
                        span.glyphicon.glyphicon-user #{name}
                li
                    a(href='/logout') 
                        span.glyphicon.glyphicon-log-out Logout
           

    .container-fluid
      h1 evaluation
      form(method='POST', action='/store')
        .form-group
          label(for='rno') Roll no
          input#fname.form-control(type='text', placeholder='Enter Student Roll no', name='rno' required)
        .form-group
          label(for='mark') Marks
          input#lname.form-control(type='number', placeholder='Enter marks', name='mk' required)
        button.btn.btn-default(type='submit') Submit
