extends layout
block content
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/home') School
        ul.nav.navbar-nav
          li
            a(href='/home') Home
          li
            a(href='/about') About
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              span.glyphicon.glyphicon-log-in
              |  Login 
              span.caret
            ul.dropdown-menu
              li
                a(href='/slogin') Student
              li
                a(href='/tlogin') Teacher
    .container
      h2 SignUp Form
      form(method='POST', action='/ssignup')
        .form-group
          label(for='firstname') First Name
          input#fname.form-control(type='text', placeholder='Enter First Name', name='fn' required)
        .form-group
          label(for='lastname') Last Name
          input#lname.form-control(type='text', placeholder='Enter Last Name', name='ln')
        .form-group
          label(for='rollno') Roll No
          input#lname.form-control(type='text', placeholder='Enter Rollno', name='rno')
        .form-group
          label(for='email') Email:
          input#email.form-control(type='email', placeholder='Enter email', name='email' required)
        .form-group
          label(for='pwd') Password:
          input#pwd.form-control(type='password', placeholder='Enter password', name='pwd' required)
        .checkbox
          label
            input(type='checkbox', name='remember')
            |  Remember me
        button.btn.btn-default(type='submit') Submit
